.content {
	height: auto;
	width: 720px;
}

.left_content {
	float: left;
	height: auto;
	position: relative;
	width: 360px;
}

.title_1 {
	text-align: center;
}

.text_1 {
	
}

.title_2 {
	text-align: center;
}

.text_2 {

}

.title_3 {
	text-align: center;
}

.title_3_sub_1 {
	text-align: left;
}

.text_3 {

}

.title_3_sub_2 {
	text-align: left;
}

.text_4 {

}

.title_3_sub_3 {
	text-align: left;
}

.text_5 {

}


.right_content {
	float: left;
	height: 400px;
	position: relative;
	width: 360px;
}