.content {
	height: auto;
	width: 720px;
}

.left_content {
	float: left;
	height: auto;
	position: relative;
	width: 360px;
}

.title_1 {

	
}

.text_1 {
	
}

.title_2 {


}

.text_2 {

}

.right_content {
	float: left;
	height: 400px;
	position: relative;
	width: 360px;
}