.content {
height:auto;
}

.left_content {
float:left;
height:400px;
position:relative;
width:360px;
}

.left_inner_content {
height:330px;
position:relative;
width:360px;
}

.right_content {
float:left;
width:360px;
}

.text_1 {
padding-left:25px;
text-align:justify;
width:335px;
}

.text_2 {
padding-left:25px;
text-align:justify;
width:335px;
}

.title_1 {
height:60px;
margin-bottom:15px;
margin-top:35px;
padding-left:25px;
text-align:center;
width:335px;
}