.content {
	height: auto;
}

.left_inner_content {
	height: 330px;
	position: relative;
	width: 330px;
}

.left_content {
	float: left;
	height: 400px;
	position: relative;
	width: 330px;
}

.right_content {
	float: left;
	width: 390px;
}

.title_1 {

}

.text_1 {
	width: 350px;
}