.content {
	height: 400px;
	width: 720px;
}

.left_content {
	float: left;
	height: 400px;
	position: relative;
	width:330px;
}

.right_content {
	float: left;
	height: 400px;
	position: relative;
	width:390px;
}

.title_1 {
	left: 0px;
	top: 0px;
	position: absolute;
}

.txt_1 {
	left: 0px;
	margin-left: 0px;
	top: 100px;
	position: absolute;
	width: 300px;
}