.content {
height:auto;
width:720px;
}

.left_bottom_content {
height:150px;
margin-left:auto;
margin-right:auto;
position:relative;
width:330px;
}

.left_content {
float:left;
width:330px;
}

.left_top_content {
width:330px;
}

.right_bottom_content {
width:330px;
}

.right_content {
float:left;
width:390px;
}

.right_top_content {
height:150px;
margin-left:auto;
margin-right:auto;
position:relative;
width:330px;
}

.text_1 {
text-align:justify;
width:300px;
}

.text_2 {
text-align:justify;
width:300px;
}

.title_1 {
height:60px;
margin-bottom:15px;
text-align:center;
width:300px;
}

.title_2 {
height:60px;
margin-bottom:15px;
text-align:center;
width:300px;
}