.top_content {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 720px;
}
.content {
	height: auto;
	width: 720px;
}

.bottom_content {
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 360px;
}

.title_1 {
	text-align: left;
}

.text_1 {
	
}

.title_2 {
	text-align: center;
}

.text_1 {
	
}