.content {
	height: auto;
	width: 720px;
}

.top_content {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

.middle_content {
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 720px;
}

.bottom_content {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

.title_1 {
	text-align: center;
}

.text_1 {

}


.title_2 {
	text-align: center;
}

.text_2 {

}