.bottom1_content {
height:auto;
margin-left:auto;
margin-right:auto;
width:720px;
}

.bottom2_content {
height:auto;
margin-left:auto;
margin-right:auto;
width:720px;
}

.content {
height:auto;
width:720px;
}

.middle1_content {
height:150px;
margin-left:auto;
margin-right:auto;
position:relative;
width:720px;
}

.middle2_content {
height:150px;
margin-left:auto;
margin-right:auto;
position:relative;
width:720px;
}

.title_1 {
height:60px;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
text-align:center;
width:360px;
}

.title_2 {
height:60px;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
text-align:center;
width:360px;
}

.title_3 {
height:60px;
margin-bottom:15px;
margin-left:auto;
margin-right:auto;
text-align:center;
width:360px;
}

.top_content {
height:auto;
margin-left:auto;
margin-right:auto;
width:720px;
}