.content {
height:auto;
width:720px;
}

.left_content {
float:left;
height:auto;
position:relative;
width:360px;
}

.right_content {
float:left;
height:400px;
position:relative;
width:360px;
}

.title_1 {
height:60px;
margin-bottom:15px;
text-align:center;
width:360px;
}

.title_1_sub_1 {
height:60px;
margin-bottom:15px;
text-align:center;
width:360px;
}

.title_1_sub_2 {
height:60px;
margin-bottom:15px;
text-align:center;
width:360px;
}

.title_1_sub_3 {
text-align:left;
}

.title_1_sub_4 {
text-align:left;
}