.content {
	height: auto;
	width: 720px;
}

.left_content {
	float: left;
	height: auto;
	position: relative;
	width: 360px;
}

.title_1 {
	text-align: center;
	width: 360px;
	height:60px;
	margin-bottom:15px;
}

.title_1_sub_1 {
	text-align: center;
	width: 360px;
	height:60px;
	margin-bottom:15px;
}

.text_1 {
	
}

.title_1_sub_2 {
	text-align: center;
	width: 360px;
	height:60px;
	margin-bottom:15px;
}

.text_2{
	
}

.title_1_sub_3 {
	text-align: center;
	width: 360px;
	height:60px;
	margin-bottom:15px;
}

.text_3 {
	
}

.title_1_sub_4 {
	text-align: center;
	width: 360px;
	height:60px;
	margin-bottom:15px;
}

.text_4 {
	
}

.right_content {
	float: left;
	height: 400px;
	position: relative;
	width: 360px;
}