.content {
	height: auto;
	overflow: hidden;
	width: 720px;
}

.left_content {
	float: left;
	height: auto;
	position: relative;
	width: 360px;
}

.title_1 {
	text-align: center;
}

.text_1 {
	
}

.right_content {
	float: left;
	height: 400px;
	position: relative;
	width: 360px;
}