body {  
	border: 0;
	margin: 0;
	padding: 0;  
} 

.main {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
}

.header {
	background-color: #aca;
	height: 100px;
	width: 1024px;
}

.header_title {
	color: #fff;
	display: inline-block;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 30px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 150px;
}

.central {
	background-color: #ccc;
	height: 300px;
	width: 1024px;
}

.side_menu {
	background-color: #caa;
	float: left;
	height: 300px;
	width: 150px;
}

.side_menu_navi {
	background-color: #caa;
	list-style-type: none;
	margin: 0;
	margin-top: 15px;
	padding: 0px;
}

.side_menu_navi li {
	display: block;
	height: 30px;
	padding: 0;
	width: 100%;
}

.side_menu_navi li a {
	color: #fff;
	display: block;
	line-height: 30px;
	height: 100%;
	text-align: center;
	text-decoration: none;
}

.side_menu_navi li a:hover {
	background-color: #ccc;
}

.content {
	background-color: #aac;
	float: left;
	height: 300px;
	position: relative;
	width: 874px;
}

.hero_left {
	display: inline-block;
	height: 100px;
	left: 0;
	opacity: 0.25;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100px;
	z-index: 1;
}

.hero_left_page {
	background-image: url('pics/baloon.jpg');
	height: 333px;
	left: -250px;
	position: absolute;
	top: -75px;
	width: 500px;
}

.hero_central {
	display: inline-block;
	height: 200px;
	left: 350px;
	opacity: 0.25;
	overflow: hidden;
	position: absolute;
	top: 50px;
	width: 50px;
}

.hero_central_page {
	background-image: url('pics/umbrella.jpg');
	height: 450px;
	left: -350px;
	position: absolute;
	top: -75px;
	width: 600px;
	z-index: 0;
}

.hero_right {
	display: inline-block;
	height: 150px;
	left: 724px;
	opacity: 0.25;
	overflow: hidden;
	position: absolute;	
	top: 150px;	
	width: 150px;
	z-index: 1;
}

.hero_right_page {
	background-image: url('pics/baloon.jpg');
	height: 333px;
	left: -250px;
	position:absolute;
	top: -75px;
	width: 500px;
}

.footer {
	background-color: #aca;
	height: 100px;
	width: 100%;
}

.footer_text {
	color: #fff;
	display: block;
	height: 100px;
	line-height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 150px;
}
