body {
	border: 0;
	margin: 0;
	padding: 0;  
} 

a {
	color: #00C2FF;
}
p {
	color: #333;
	font-family: Century Gothic, sans-serif;
	font-size: 15px;
	line-height: 25px;
	margin-left: 0;
	margin-bottom: 10px;
	margin-right: 0;
	margin-top: 0;	
}

h2 {
	color: #7b8;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size:  23px;
	font-weight: 100;
	letter-spacing: -1px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h2:hover {
	color: #47CC56;
}

ul {
	list-style-type: circle;
	margin-bottom: 35px;
	margin-top: 0;
}

li {
	color: #333;
	font-family: Century Gothic, sans-serif;
	font-size: 15px;
	line-height: 25px;
}

ul ul {
	list-style-type: none;
}

.header {
	height: 95px;
	margin-bottom: 25px;
	width: 100%;
}
.header_home_link{
	display: inline-block;
	float: left;
	outline: 0;
	height: 95px;
}

.header_title {
	display: inline-block;
	float: right;
	height: 95px;
}


.main {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

.backer {
	height: 75px;
	overflow: visible;
	position: relative;
	width: 250px;
}

.central {
	height: auto;
	position: relative;
	width: 100%;
}

.footer {
	background-color: transparent;
	background-image: url('../pix/footer.png');
	background-repeat: no-repeat;
	height: 200px;
	margin-top: 75px;
	position: relative;
	width: 100%;
}

.gendai_block {
	display: inline-block;
	height: 10px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 10px;
}

.gendai_menu {
	background-color: transparent;
	background-image: url('../pix/gendai_menu.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #fff;
	display: inline-block;
	font-family: Century Gothic, sans-serif;
	font-size:  12px;
	font-weight: normal;
	height: 25px;
	left: 0px;
	letter-spacing: -1px;
	line-height: 25px;
	padding-left: 15px;
	position: absolute;
	text-align: left;
	text-decoration: none;
	top: 0px;
	width: 103px;
}

.gendai_back_menu {
	background-color: transparent;
	background-image: url('../pix/gendai_back_menu.png');
	background-repeat: no-repeat;
	background-position: -118px 0px;
	color: #fff;
	display: inline-block;
	font-family: Century Gothic, sans-serif;
	font-size:  12px;
	font-weight: normal;
	height: 25px;
	left: 0px;
	letter-spacing: -1px;
	line-height: 25px;
	padding-right: 15px;
	position: absolute;
	text-align: right;
	text-decoration: none;
	top: 0px;
	width: 103px;
}

.spacer {
	clear: both;
}