body {
	background-image: url('../pix/stripes.png');
	background-repeat: repeat;
	border: 0;
	margin: 0;
	padding: 0;  
} 

a {
	color: #00C2FF;
}
p {
	color: #999;
	font-family: Century Gothic, sans-serif;
	font-size: 14px;
	line-height: 25px;
	margin-left: 0;
	margin-bottom: 10px;
	margin-right: 0;
	margin-top: 0;	
}

h2 {
	color: #88CC91;
	display: inline-block;
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size:  23px;
	font-weight: 100;
	letter-spacing: -1px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

h2:hover {
	color: #47CC56;
}

ul {
	list-style-type: circle;
	margin: 0;
}

li {
	color: #888;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 16px;
}

ul ul {
	list-style-type: none;
	margin: 0;
}

.header {
	padding-top: 15px;
	height: 80px;
	width: 100%;
}

.header_logo {
	display: inline-block;
	float: left;
}

.header_title {
	color: #888;
	display: inline-block;
	float: left;
	font-family: Lucida Sans, Serif;
	font-size: 15px;
	font-weight: normal;
	height: 80px;
	line-height: 80px;
	margin: 0px;
	text-align: center;
	width: 576px;
}


.main {
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

.central {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	height: auto;
	padding-bottom: 25px;
	padding-top: 25px;
	position: relative;
	width: 100%;
}

.footer {
	height: 50px;
	position: relative;
	width: 100%;
}

.footer_text_wrapper {
	display: inline-block;
	height: 50px;
	left: 50%;
	margin-left: -150px;
	margin-top: -25px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 300px;
}

.footer_text {
	color: #999;
	display: inline-block;
	height: 20px;
	left: 50%;
	margin-left: -50px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
	width: 100px;
}

.gendai_block {
	display: inline-block;
	height: 10px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 10px;
}