body {  
	border: 0;
	margin: 0;
	padding: 0;  
} 

.main {
	margin-left: auto;
	margin-right: auto;
	width: 730px;
}

.header {
	border-bottom: 1px solid #ccc;
	height: 100px;
	margin-bottom: 30px;
	width: 100%;
}

.header_title {
	color: #ccc;
	display: inline-block;
	font-family: Copperplate / Copperplate Gothic Light, sans-serif;
	font-size: 30px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 150px;
}

.central {
	height: 350px;
	margin-bottom: 30px;
	position: relative;
	width: 100%;
}

.hero_left {
	display: inline-block;
	filter: alpha(opacity=25);
	height: 100px;
	left: 0;
	opacity: 0.25;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100px;
	z-index: 1;
}

.hero_left_page {
	background-image: url('../pics/baloon.jpg');
	height: 333px;
	left: -250px;
	position: absolute;
	top: -75px;
	width: 500px;
}

.hero_central {
	display: inline-block;
	filter: alpha(opacity=25);
	height: 200px;
	left: 350px;
	opacity: 0.25;
	overflow: hidden;
	position: absolute;
	top: 50px;
	width: 50px;
}

.hero_central_page {
	background-image: url('../pics/umbrella.jpg');
	height: 450px;
	left: -350px;
	position: absolute;
	top: -75px;
	width: 600px;
	z-index: 0;
}

.hero_right {
	display: inline-block;
	filter: alpha(opacity=25);
	height: 150px;
	left: 580px;
	opacity: 0.25;
	overflow: hidden;
	position: absolute;	
	top: 200px;	
	width: 150px;
	z-index: 1;
}

.hero_right_page {
	background-image: url('../pics/baloon.jpg');
	height: 333px;
	left: -250px;
	position:absolute;
	top: -75px;
	width: 500px;
}

.footer {
	border-top: 1px solid #ccc;
	height: 100px;
	position: relative;
	width: 100%;
}

.footer_text_wrapper {
	display: inline-block;
	height: 50px;
	left: 50%;
	margin-left: -50px;
	margin-top: -25px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100px;
}

.footer_text {
	color: #999;
}
